<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <table>
        <tr>
            <td th:text = "${nave.id}"></td>
            <td th:text = "${nave.name}"></td>
            <td th:text = "${nave.weight}"></td>
            <td th:text = "${nave.height}"></td>
            <td th:text = "${nave.speed}"></td>
            <td th:text = "${nave.name}"></td>
            <td th:text = "${nave.name}"></td>
            <td th:text = "${nave.name}"></td>

        </tr>
    </table>
</body>
</html>